{
  "dryRun": false,
  "ci": false,
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "config": "./tools/changelog.js"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "config": "./tools/changelog.js"
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@semantic-release/exec",
      {
        "verifyConditionsCmd": "npm run test",
        "prepareCmd": "docker build -t tapps/tapps-io.web ."
      }
    ],
    [
      "semantic-release-docker",
      {
        "name": "tapps/tapps-io.web"
      }
    ],
    "@semantic-release/git"
  ]
}
