:root {
  --c_alpha: #48cee5;
  --c_alpha_light: #84ffff;
  --c_alpha_dark: #009db3;
  --c_beta: #16555c;
  --c_beta_light: #488289;
  --c_beta_dark: #002c33;
  --c_text: rgba(0, 0, 0, 0.87);
  --c_text_low: rgba(0, 0, 0, 0.6);
  --c_text_disabled: rgba(0, 0, 0, 0.38);
  --c_text_alt: rgba(255, 255, 255, 0.87);
  --c_text_alt_low: rgba(255, 255, 255, 0.6);
  --c_text_alt_disabled: rgba(255, 255, 255, 0.38);
  --c_background: rgba(245, 242, 240, 1);
  --c_detail: rgba(0, 0, 0, 0.125);
  --c_detail_low: rgba(0, 0, 0, 0.25);
  --c_detail_medium: rgba(0, 0, 0, 0.5);
  --c_detail_high: rgba(0, 0, 0, 0.75);
  --c_valid: #178a00;
  --c_invalid: #da1406;
  --f_stack: 'Open Sans', sans-serif;
  --f_stack_headings: 'Quicksand', 'Open Sans', sans-serif;
}

:root[data-theme='dark'] {
  --c_alpha: #48cee5;
  --c_alpha_light: #84ffff;
  --c_alpha_dark: #009db3;
  --c_beta: #16555c;
  --c_beta_light: #488289;
  --c_beta_dark: #002c33;
  --c_text: rgba(255, 255, 255, 0.87);
  --c_text_low: rgba(255, 255, 255, 0.6);
  --c_text_disabled: rgba(255, 255, 255, 0.38);
  --c_text_alt: rgba(0, 0, 0, 0.87);
  --c_text_alt_low: rgba(0, 0, 0, 0.6);
  --c_text_alt_disabled: rgba(0, 0, 0, 0.38);
  --c_background: rgb(18, 18, 18, 1);
  --c_detail: rgba(255, 255, 255, 0.06);
  --c_detail_low: rgba(255, 255, 255, 0.12);
  --c_detail_medium: rgba(255, 255, 255, 0.24);
  --c_detail_high: rgba(255, 255, 255, 0.48);
  --c_valid: #8bc513;
  --c_invalid: #ff3009;
}
